.panel {
  background-color: white;
  padding: 16px;
  height: 100%;
}

.descripcion {
  white-space: pre-line;
}

.saldo-pendiente {
  color: #cf1322;
  font-weight: bold;
}

.tabla-title {
  font-weight: 600;
  font-size: 16px;
}
