.panel {
  background-color: white;
  padding: 16px;
  height: 100%;
}

.descripcion {
  white-space: pre-line;
}

.tabla-title {
  font-weight: 600;
  font-size: 16px;
}

.aviso-anulacion {
  color: rgba(0, 0, 0, 0.45);
}
