<div nz-flex nzVertical="true" nzGap="middle">

    <div nz-flex nzGap="middle" nzJustify="space-between" nzAlign="center">
        <div>
            <nz-breadcrumb [nzSeparator]="separator" class="flex-item">
                <ng-template #separator>
                    <nz-icon nzType="arrow-right"></nz-icon>
                </ng-template>
                @if (title) {
                <nz-breadcrumb-item>
                    <span nz-typography class="title">{{ title }}</span>        
                </nz-breadcrumb-item>
                }
                @if(subtitle){
                <nz-breadcrumb-item>
                    <span nz-typography class="subtitle" nzType="secondary">{{ subtitle }}</span>
                </nz-breadcrumb-item>
                }
            </nz-breadcrumb>
            
        </div>
        <div>
            <div nz-flex nzGap="small" nzAlign="center">
                @if (toolbarButtons) {
                <div nz-flex nzGap="small">
                    @for (button of toolbarButtons; track $index) {
                    <button nz-button [nzType]="button.type ?? 'default'" [nzDanger]="button.danger" (click)="activateToolbarAction(button.actionFn)">
                        @if (button.icon) {
                            <nz-icon [nzType]="button.icon"></nz-icon>
                        }
                        {{ button.label }}
                    </button>
                    }
                </div>
                }
                
                @if (searchFn != null) {
                <nz-divider nzType="vertical"></nz-divider>
                <div nz-flex nzGap="small">
                    <nz-input-group [nzPrefixIcon]="'search'" [nzSuffix]="clearSearch">
                        <input nz-input placeholder="Buscar..." [(ngModel)]="search" (ngModelChange)="onSearchChange($event)" />
                        <ng-template #clearSearch>
                            @if (search) {
                                <span
                                    nz-icon
                                    nzType="close-circle"
                                    nzTheme="fill"
                                    class="ant-input-clear-icon"
                                    (click)="resetSearch()">
                                </span>    
                            }
                        </ng-template>
                    </nz-input-group>
                    
                    <!--<button nz-button nzType="primary" class="filter-button">
                        <nz-icon nzType="filter"></nz-icon>
                    </button>-->
                    
                </div>
                }
            </div>
        </div>
    </div>
    
    @if(type == 'default') {
        <div class="inner-content-bg" [class]="{'inner-content-bg': bagroundType == 'color'}">
            <ng-content></ng-content>
        </div>
    } 
    @else {
        <div nz-row [nzGutter]="[16,16]">
            <div nz-col nzSpan="16">
                <div [class]="{'inner-content-bg': bagroundType == 'color'}">
                    <ng-content select="[detail]"></ng-content>
                </div>
            </div>
            <div nz-col nzSpan="8">
                <div [class]="{'inner-content-bg': bagroundType == 'color'}">
                    <ng-content select="[header]"></ng-content>
                </div>
            </div>
        </div>
    }
</div>

