<div nz-flex nzVertical="true" nzGap="middle">

    <div nz-flex nzGap="middle" nzJustify="space-between" nzAlign="center">
        <div>
            @if (title) {
                <h3 nz-typography class="flex-item title">{{ title }}</h3>
            }
        </div>
        <div>
            <div nz-flex nzGap="small" nzAlign="center">
                <div nz-flex nzGap="small">
                    <button nz-button nzType="primary">Agregar</button>
                    <button nz-button nzType="default">Recargar</button>
                </div>
                @if (searchFn != null) {
                <nz-divider nzType="vertical"></nz-divider>
                <div nz-flex nzGap="small">
                    <nz-input-group [nzPrefixIcon]="'search'" [nzSuffix]="clearSearch">
                        <input nz-input placeholder="Buscar..." [(ngModel)]="search" (ngModelChange)="onSearchChange($event)" />
                        <ng-template #clearSearch>
                            @if (search) {
                                <span
                                    nz-icon
                                    nzType="close-circle"
                                    nzTheme="fill"
                                    class="ant-input-clear-icon"
                                    (click)="resetSearch()">
                                </span>    
                            }
                        </ng-template>
                    </nz-input-group>
                    
                    <!--<button nz-button nzType="primary" class="filter-button">
                        <nz-icon nzType="filter"></nz-icon>
                    </button>-->
                    
                </div>
                }
            </div>
        </div>
    </div>
    
    <div class="inner-content">
        <ng-content></ng-content>
    </div>
    
</div>

