.title {
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    font-size: 1.4rem;
}
.subtitle {
    padding: 0px;
    margin: 0px;
    //font-weight: bold;
    font-size: 1.2rem; 
}

.inner-content-bg {
    background-color: white;
}
.filter-button {
    width: 50px;
}
.clear-search-button{
    cursor: pointer;
}