<div nz-flex nzVertical="true" nzGap="middle">

    <div nz-flex nzGap="middle" nzJustify="space-between" nzAlign="center">
        <div>
            @if (title) {
                <h3 nz-typography class="flex-item title">{{ title }}</h3>
            }
        </div>
        <div>
            <div nz-flex nzGap="small" nzAlign="center">
                @if (toolbarButtons) {
                <div nz-flex nzGap="small">
                    @for (button of toolbarButtons; track $index) {
                    <button nz-button [nzType]="button.type ?? 'default'" [nzDanger]="button.danger" (click)="activateToolbarAction(button.actionFn)">
                        @if (button.icon) {
                            <nz-icon [nzType]="button.icon"></nz-icon>
                        }
                        {{ button.label }}
                    </button>
                    }
                </div>
                }
                
                @if (searchFn != null) {
                <nz-divider nzType="vertical"></nz-divider>
                <div nz-flex nzGap="small">
                    <nz-input-group [nzPrefixIcon]="'search'" [nzSuffix]="clearSearch">
                        <input nz-input placeholder="Buscar..." [(ngModel)]="search" (ngModelChange)="onSearchChange($event)" />
                        <ng-template #clearSearch>
                            @if (search) {
                                <span
                                    nz-icon
                                    nzType="close-circle"
                                    nzTheme="fill"
                                    class="ant-input-clear-icon"
                                    (click)="resetSearch()">
                                </span>    
                            }
                        </ng-template>
                    </nz-input-group>
                    
                    <!--<button nz-button nzType="primary" class="filter-button">
                        <nz-icon nzType="filter"></nz-icon>
                    </button>-->
                    
                </div>
                }
            </div>
        </div>
    </div>
    
    <div class="inner-content">
        <ng-content></ng-content>
    </div>
    
</div>

