
<core-feature-layout
    [title]="'Tipos'"
    [toolbarButtons]="toolbarButtons"
    [searchFn]="buscar">
    <nz-table #tabla nzSize="small" [nzData]="tipos" [nzLoading]="isLoading">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @for (tipo of tabla.data; track tipo.id) {
                <tr>
                    <td>{{ tipo.id }}</td>
                    <td>{{ tipo.descripcion }}</td>
                    <td nz-flex nzGap="small" nzJustify="center">
                        <button nz-button nzType="primary" (click)="editTipo(tipo)">
                            <nz-icon nzType="edit"></nz-icon>
                        </button>
                        <button nz-button nzType="primary" nzDanger (click)="confirmDelete(tipo)">
                            <nz-icon nzType="delete"></nz-icon>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </nz-table>
</core-feature-layout>

<nz-modal
    [(nzVisible)]="isModalFormVisible"
    (nzOnCancel)="hideModalForm()"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter">
    <ng-template #modalTitle>
        {{ formMode == 'add' ? 'Crear tipo' : 'Editar tipo' }}
    </ng-template>
    <ng-template #modalContent>
        <tipo-form
            [(mode)]="formMode"
            [editingTipo]="editingTipo"
            (isSavingChange)="isSaving = $event"
            (savedTipo)="onSaved()">
        </tipo-form>
    </ng-template>
    <ng-template #modalFooter>
        <div nz-flex nzJustify="flex-end">
            <button                
                nz-button
                nzType="primary"
                [nzLoading]="isSaving"
                (click)="tipoFormComp.save()">
                <nz-icon nzType="save"></nz-icon>
                {{ formMode == 'add' ? 'Registrar' : 'Editar' }}
            </button>
            <button nz-button nzType="default" (click)="tipoFormComp.resetForm()">
                <nz-icon nzType="clear"></nz-icon>
                {{ formMode == 'add' ? 'Limpiar' : 'Nuevo' }}
            </button>
            <button nz-button nzType="default" (click)="hideModalForm()">
                Cerrar
            </button>
        </div>
    </ng-template>
</nz-modal>
