<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
            <li nz-menu-item routerLink="/app/dashboard" nzMatchRouter>
                <nz-icon nzType="home" />
                <span>Inicio</span>
            </li>
            <li nz-submenu nzTitle="Productos" nzIcon="product">
                <ul>
                    <li nz-menu-item routerLink="/app/marcas" nzMatchRouter>Marcas</li>
                    <li nz-menu-item routerLink="/app/colores" nzMatchRouter>Colores</li>
                    <li nz-menu-item routerLink="/app/tipos" nzMatchRouter>Tipos</li>
                    <li nz-menu-item routerLink="/app/clientes" nzMatchRouter>Clientes</li>
                </ul>
            </li>
             <li nz-submenu nzTitle="Usuarios" nzIcon="user">
                <ul>
                    <li nz-menu-item routerLink="/app/usuarios" nzMatchRouter>Usuarios</li>
                </ul>
            </li>
            <!--<li nz-submenu nzTitle="Team" nzIcon="team">
                <ul>
                    <li nz-menu-item>Team 1</li>
                    <li nz-menu-item>Team 2</li>
                </ul>
            </li>-->
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header nz-flex nzAlign="center">
            <nz-icon class="trigger flex-item" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                (click)="isCollapsed = !isCollapsed" />
            <core-breadcrumb class="flex-item"></core-breadcrumb>
        </nz-header>
        <nz-content>
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
</nz-layout>